Source: par
Section: text
Priority: optional
Maintainer: Kapil Hari Paranjape <kapil@imsc.res.in>
Build-Depends: debhelper (>> 4.0.0), dpatch
Standards-Version: 3.7.2

Package: par
Architecture: any
Depends: ${shlibs:Depends}
Description: Paragraph reformatter
 Greatly enhanced fmt type program by Adam M. Costello.
 .
 Can be used within vi or other editor to automatically reformat text
 in a variety of ways.
 .
 Perfect for use with email & usenet messages as it correctly handles
 multiple levels of quoting characters.
 .
 This version include patch allowing multi-bytes and multi-width character
 encodings.
 .
 Home Page: http://www.nicemice.net/par/
